* {

}

.main-container {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.main-columns {
  margin: 0;
  height: auto;
  border: 0.5px solid black;
}

.column-1 {
  width: 15%;
}

.column-2 {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.nav {
  width: 100%;
  margin: 0;
  border-bottom: solid 1px navy;
}

.user {
  height: 150px;
}

.main-nav,
.admin {
  height: 250px;
}

.cat {
  height: 100%auto;
  border: none;
}

.search {
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: blue;
  margin: 0;
}

.header {
  width: 100%;
  height: 150px;
  margin: 0;
  background-color: magenta;
  margin: 0px 0px 20px 0px;
}

.circle-graph {
  height: 250px;
  width: 52%;
  background-color: purple;
  margin-left: 4%;
}

.bar-graph {
  height: 250px;
  width: 40%;
  background-color: yellow;
  margin-right: 2%;
}

.break {
  width: 100%;
  height: 40px;
  margin: 20px 0px;
  background-color: orange;
}

.job-desc {
  width: 55%;
  height: 450px;
  background-color: green;
  margin: 0px 4%;
}

.social-media {
  width: 30%;
  height: 450px;
  background-color: red;
  margin: 0px 3%;
}
